In [1]:
import os
import pandas as pd

In [2]:
date_range = ('2015-01', '2017-12')
start_date = date_range[0].split('-')
end_date = date_range[1].split('-')

In [3]:
start_date

['2015', '01']

In [4]:
APD_df = pd.DataFrame(columns=['UC2_Literal','Report Number','Report Date','Location','Beat','Neigborhood','NPU','Lat','Long','junk'])
APD_df

Empty DataFrame
Columns: [UC2_Literal, Report Number, Report Date, Location, Beat, Neigborhood, NPU, Lat, Long, junk]
Index: []

In [5]:
for year in range(int(start_date[0]),int(end_date[0])+1):
    for month in range(1,13):
        pad_month = str(month).rjust(2, '0')
        input_file = os.path.join('Data_Files', 'Monthly', f'{year}-{pad_month}-APD.csv')
        current_df = pd.read_csv(input_file)
        APD_df = APD_df.append(current_df)
APD_df

,UC2_Literal,Report Number,Report Date,Location,Beat,Neigborhood,NPU,Lat,Long,junk,Unnamed: 9
0,HOMICIDE,150311273,01/31/2015,1375 NORTHSIDE DR NW,207.0,Loring Heights,E,33.79215,-84.40774,NaN,NaN
1,ROBBERY-PEDESTRIAN,150312601,01/31/2015,2431 SPRINGDALE RD SW,309.0,Perkerson,X,33.68827,-84.41475,NaN,NaN
2,ROBBERY-PEDESTRIAN,150312591,01/31/2015,2902 OLD JONESBORO RD SW,311.0,Hammond Park,X,33.67550,-84.40760,NaN,NaN
3,ROBBERY-PEDESTRIAN,150311766,01/31/2015,85 JOHN WESLEY DOBBS AVE NE,510.0,Downtown,M,33.75684,-84.38475,NaN,NaN
4,ROBBERY-PEDESTRIAN,150312400,01/31/2015,2594 BURTON RD NW,111.0,Westhaven,I,33.75581,-84.47292,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2382,LARCENY-NON VEHICLE,173351671,12/01/2017,4020 EMMA LN NE,209.0,North Buckhead,B,33.86503,-84.37538,NaN,NaN
2383,LARCENY-NON VEHICLE,173351568,12/01/2017,1545 PEACHTREE ST NE,502.0,Midtown,E,33.79742,-84.38818,NaN,NaN
2384,LARCENY-NON VEHICLE,173352440,12/01/2017,561 W WHITEHALL ST SW,401.0,West End,T,33.73971,-84.41292,NaN,NaN
2385,LARCENY-NON VEHICLE,173350993,12/01/2017,1 PHILLIPS DR,508.0,Downtown,M,33.75733,-84.39635,NaN,NaN
2386,LARCENY-NON VEHICLE,173351145,12/01/2017,259 RICHARDSON ST SW,303.0,Mechanicsville,V,33.74116,-84.39741,NaN,NaN

In [6]:
APD_df.count()

UC2_Literal      86074
Report Number    86074
Report Date      86074
Location         86073
Beat             86010
Neigborhood      82194
NPU              85368
Lat              86074
Long             86074
junk                 0
Unnamed: 9           0
dtype: int64

In [7]:
APD_df.drop(columns=['junk','Unnamed: 9'], inplace=True)
APD_df.rename(columns={'Neigborhood':'Neighborhood', 'UC2_Literal':'Crime Type'}, inplace=True)
APD_df.count()

Crime Type       86074
Report Number    86074
Report Date      86074
Location         86073
Beat             86010
Neighborhood     82194
NPU              85368
Lat              86074
Long             86074
dtype: int64

In [10]:
output_file = os.path.join('Data_Files','2015-2017-APD.csv')
APD_df.to_csv(output_file, index=False)